body {
  background-color: #339764;
}

.checked {
    color: #ffcb47;
  }

.my-btn {
  background-color: inherit !important;
  border: 0 !important;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #339764;
    border-color: #339764;
}

