body {
  background-color: #339764;
}


.my-btn {
  background-color: inherit !important;
  border: 0 !important;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #339764;
    border-color: #339764;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    /* color: #339764;
    border-color: #339764; */
    color: #ccc;
    border-color: #ccc;
}

.btn-outline-primary:hover {
    background-color: #339764;
}

.rate-buttons .my-btn {
    color: #ccc; /* Light gray color for unchecked stars */
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.rate-buttons .my-btn:hover,
.rate-buttons .my-btn:focus {
    color: #ffcb47; /* Yellow color on hover/focus */
}

.rate-buttons .checked {
    color: #ffcb47; /* Yellow color for checked stars */
}

.rate-buttons .fa-star-o.checked::before {
    content: "\f005"; /* Unicode for solid star */
}

#order-id::placeholder, #review-text::placeholder {
    color: #00000030; 
    font-size: 0.875rem;
}

#order-id, #review-text {
    border-color: #00000050;
}

.site-logo {
    height: 30px;
}

@media (min-width: 992px) {
    .site-logo {
        height: 40px;
    }
}
