{% extends "base.html" %}

{% block content %}
<div class="everything d-flex align-items-center justify-content-center min-vh-100">
    <div class="card text-center vh-50 pb-5 pt-5">
        <div class="card-body mb-5 mt-5">
            <h5 class="card-title mb-5">Thank you for your review!</h5>
            <p class="card-text">You will be redirected to the main page in 5 seconds...</p>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        window.location.href = "{{ main_view_url }}";
    }, 5000);
</script>
{% endblock %}
